@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #002fff;
}

.Typewriter {
  display: flex;
  align-items: center;
}

.Typewriter__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.Typewriter__wrapper::after {
  content: "|";
  display: flex;
  align-items: end;
  animation: Typewriter-cursor 1s infinite;
  margin-left: 1px;
  font-weight: bold;
  color: #FFF3A7;
  font-size: 36px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .skewed-left {
    clip-path: polygon(0 0, 100% 33%, 100% 100%, 0% 100%);
  }

  .skewed-right {
    clip-path: polygon(0 33%, 100% 0, 100% 100%, 0% 100%);
  }
}
